{
   "root": true,
   "parser": "@typescript-eslint/parser",
   "plugins": ["@typescript-eslint"],
   "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
   "rules": {
      "no-console": "error",
      "@typescript-eslint/explicit-module-boundary-types": "off",
      "@typescript-eslint/no-empty-function": "off"
   },
   "overrides": [
      {
         "files": ["test/**"],
         "plugins": ["jest"],
         "extends": ["plugin:jest/recommended"],
         "rules": {
            "jest/prefer-snapshot-hint": ["error", "always"]
         }
      }
   ]
}
